*{
  font-family: 'Roboto', sans-serif;
}
.overflow {
  height: 50% !important;
  overflow: hidden;
}
.overflow .card-img-top {
  transform: scale(1) !important;
  transition: all 0.2s ease-in-out;
}
.overflow .card-img-top:hover {
  transform: scale(1.3) !important;
}
#nprogress .bar {
  background: #ff5367 !important;
}
#nprogress .spinner-icon {
  border-top-color: #ffbb00;
  border-left-color: #ffbb00;
}
