.container {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
  grid-gap: 40px;
}

.cards {
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-gap: 40px;
}

.card {
  position: relative;
  grid-column-end: span 4;
  display: flex;
  flex-direction: column;
  background-color: #2C2E44;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.card:hover {
  transform: translateY(-7px);
}

.card-image-container {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
}

.card-image {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-content {
  padding: 20px;
}

.card-title {
  font-family: 'Poppins SemiBold';
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--white);
  margin-bottom: 20px;
}

.card-info {
  display: flex;
  align-self: end;
  align-items: center;
}

.card-description {
  margin-top : 10px;
  font-size: 14px;
  font-weight: 400;
  color: var(--white);
  padding: 5px 15px;
  background-color: #1f2235;
  border-radius: 10px;
}

@media only screen and (max-width: 1000px) {
  .card {
    grid-column-end: span 6;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    grid-gap: 20px;
  }
  .card {
    grid-column-end: span 12;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-gap: 10px;
  }
  .cards {
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
  .card {
    grid-column-end: span 6;
  }
}
.button-container{
  position: absolute;
  right: 0;
  display: flex;
  margin: 10px;
}
.learn-more-button{
  outline: none;
  color: #e6e3e3;
  width: 30px;
  height: 30px;
  border: 1px solid #ff5823;
  border-radius: 50%;
  transition: 0.2s;
  background-color: #1f2235;
}
.learn-more-button:hover{
  color: black;
  border: 1px solid #1f2235;
  background-color: #ff5823;
}
.date-container{
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  margin-top: 10px;
  margin-right: 10px;
}
.date{
  padding-top: 10px;
  font-size: 11px;
  line-height: 20px;
  font-weight: Bold;
  margin-bottom:auto;
  color: var(--white);
}
